body {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.botones {
    /*background-color: #9a0b28;*/
    background-color: #e51a2f;
}

.logueado {
    display: flex;
    justify-content: space-around;
}

.logueado a {
    margin: 0 1%;
    
}

.saludo {
    color: #ffffff;
    text-decoration: none;
    
}

.saludo:hover {
    color: #ffffff;
    text-decoration: none;
}