{% extends 'layout.html' %}

{% block customCss %}
<link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block body %}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/update/{{product.0}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <input type="text" name="name" placeholder="Name" value=" {{product.1}}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="description" placeholder="Description" value=" {{product.2}}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="discount" placeholder="Discount" value=" {{product.3}}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="discountCode" placeholder="Discount code" value=" {{product.5}}" class="form-control">
            </div>
            <div class="form-group d-grid">
                <button type="submit" class="btn btn-danger mt-3 botones">Save</button>   
        </form>
    </div>
</div>

{% endblock %}