{% extends 'layout.html' %}

{% block customCss %}
<link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block buttonLog %}
{% if current_user.fullname != Undefined %}
    <div class="logueado">
        <a class="saludo">Bienvenido, {{ current_user.fullname }}</a>
        <a type="link" class="btn btn-danger botones" href="{{ url_for('logout') }}">Logout</a>
    </div>   
{% else %}
    <a type="link" class="btn btn-danger botones" href="{{ url_for('login') }}">Login</a>
{% endif %}
{% endblock %}

{% block body %}
<main>
    <div class="col-6 mx-auto text-center">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Offprice</h1>
                <p class="lead text-muted">Los mejores cupones de decuento de internet a un click de distancia.</p>
            </div>
        </div>
    </section>
    
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                
                {% for product in products %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{product.4}}" class="bd-placeholder-img card-img-top" alt="no">
                        <div class="card-body">
                            <h4>{{ product.1 }}</h4>
                            <p class="card-text">{{ product.2 }}</p>
                            <p class="card-text">código: {{ product.5 }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% if current_user.fullname != Undefined %}
                                    <a href="/edit/{{ product.0 }}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    <a href="/delete/{{ product.0 }}" class="btn btn-sm btn-outline-secondary">Delete</a>
                                    {% endif %}
                                </div>
                                <small class="text-muted">-{{ product.3 }}%</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if current_user.fullname != Undefined %}
    <div>
        <div class="col-6 mx-auto text-center">
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h3 class="fw-light">Agregá tus cupones</h3>
                    </div>
                </div>
            </section>

            <div class="card card-body mb-5">
                <form action="/add_product" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="description" placeholder="Description" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="discount" placeholder="Discount" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="discountCode" placeholder="Discount code" class="form-control">
                    </div>
                    <div class="form-group d-grid">
                        <button type="submit" class="btn btn-danger btn-block mt-3 mx-auto botones">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</main>
{% endblock %}